main {
  padding-top: 10vh;
}

.insert-word {
  display: flex;
  flex-direction: row;
  padding-bottom: 15vh;
}

.container {
  width: 5vw;
  height: 5vh;
  margin: 0 0.5em;
  border-bottom: 3px solid #0a3871;
}
