@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
COLOR PALETTE

#E5E5E5 bg
#0a3871 font 
#495057 font-result
#343A40 font-result-advice
#D8DFE8 bg-button

*/

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  color: #0a3871;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d8dfe8;
}

a {
  text-decoration: none;
  color: #0a3871;
}

.logo {
  padding-top: 0.8em;
  width: 1.5em;
}

.title {
  font-size: 3em;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* height: 80vh; */
  align-items: center;
  justify-content: center;
  /* padding: 2vh 8vw; */
}

textarea:focus {
  outline: none;
}

.insert-new-word {
  background-color: #e5e5e5;
  color: #0a3871;
  font-family: 'Poppins', sans-serif;
  width: 50vw;
  height: 30vh;
  font-size: 1.5em;
  resize: none;
  padding: 20px;
  border: none;
}

::-webkit-input-placeholder {
  color: #0a3871;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}

.buttons {
  width: 15em;
  height: 3em;
  border: 1px solid #0a3871;
  border-radius: 1.2em;
  margin: 0.5em;
  font-size: 1.5em;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
}

.start-button {
  background: #0a3871;
  color: #fff;
}

.new-word-button {
  background: #e5e5e5;
  color: #0a3871;
}

.start-button:hover {
  cursor: pointer;
  background: #042d60;
}

.new-word-button:hover {
  cursor: pointer;
  background: #ececec;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #d8dfe8;
}

.advice {
  height: 2em;
  padding: 1vh 5vw;
  font-size: 0.8em;
}

.advice ul {
  display: none;
}

li {
  display: flex;
}

li::before {
  content: url(../img/advice.png);
  padding-right: 0.5em;
}

@media only screen and (max-width: 773px) {
  .logo {
    padding-top: 0.8em;
    width: 1.2em;
  }

  .title {
    font-size: 2em;
  }

  
}


@media only screen and (max-width: 450px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .buttons {
    width: 9em;
    height: 3em;
    font-size: 0.8em;
  }

  textarea {
    text-align: center;
    font-size: 1.2em;
  }
}